html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 100%;
}

header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: turquoise solid;
    border-width: 3px;
    width: 100%;
    margin: 0;
    padding: 0;
    animation: animate 30s ease infinite;
}

@keyframes animate{
    0%{background-color: aqua;}
    25%{background-color: rgb(1, 96, 212);}
    50%{background-color: rgb(218, 0, 222);}
    75%{background-color: rgb(246, 164, 82);}
    100%{background-color: aqua;}
}


#botonesnav{
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

#botonesnav a{
    text-decoration: none;
    color: black;
    padding: 7px;
    background-color: transparent;
    border: 2px black solid;
    border-radius: 5px;
    margin: 10px;
    transition: 0.3s;
}

#botonesnav a:hover {
    color: turquoise;
    border: 2px turquoise solid;
    background-color: blueviolet;
}

#titulo img{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    float: left;
}

.carousel-inner img{
    max-width: 60%;     
}

#demo{
    background-color: #02afc5;
    padding-top: 10px;
}

#demo button{
    background-color: #02afc5;
    
    padding-top: 10px;
    transition: 0.3s;
}

#demo button:hover {
    background-color: #016d7c;
    padding-top: 10px;
}

.container-fluid {
        padding-right:0;
        padding-left:0;
        margin-right:auto;
        margin-left:auto
     }

.padi{
    border: 7px;
    padding-top: 15px;
    padding-bottom: 25px;
}

ul li{
    color:black;
}

.container {
    text-align: center;
}

#searchInput {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

main{
    text-align: center;
    background-image: linear-gradient(#02afc5, #87d1db, #4cb5c3);
}

#resultado{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 30px 10px;
    margin: 30px;
}

.ficha{
    display: center;
    margin-left: 80px;
    margin: auto;
    border-radius: 2px;
    border: 1px solid white;
}

@media (min-width: 0px) {
    #resultado { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 650px) {
    #resultado { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 950px) {
    #resultado { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1250px) {
    #resultado { grid-template-columns: repeat(4, 1fr); }
}

main .containerBuscador{
    padding-top: 25px;
}

.information-card{
    padding-top: 15px;
    margin:auto;
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    padding-bottom: 15px;
    border-radius: 5px white;
}

#descripcionTitulo{
    color: rgb(59, 0, 114);
    text-shadow: #0056b3 3px 3px 5px;
    text-decoration-line: underline;
}

#contenidoHome{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#contenidoHome p {
    width: 300px;
    margin: 10px;
    padding: 5px;
    border: 3px solid lightgreen;
    box-sizing: content-box;
    border-radius: 10px;
    box-shadow: yellowgreen 10px 10px 20px;
    background-color: lightblue;
}

#iconosDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#iconosDiv img{
    width: 200px;
}

#iconosDiv p{
    width: 300px;
    border-radius: 10px;
    box-shadow: lightcoral 10px 10px 10px;
    background-color: chartreuse;
    color: black;
    padding: 10px;
    text-justify:auto;
}

#footerNav1{
    border-radius: 15px;
    background-color: rgb(22, 46, 19);
}

#footerNav2{
    border-radius: 15px;
    background-color: rgb(45, 29, 72);
}

.card1{
    width: 300px;
    height: 550px;
    margin: auto;
    background-color: white;
    margin-top: 25px;
    border-radius: 5px;
}

h1, h2, h3, h4, p, span, footer a{
    cursor:default;
}

#pagina{
    cursor: pointer;
}
